{
    "parser" : "babel-eslint",
    "extends": ["airbnb","prettier"],
    "rules": {
        "prettier/prettier" : ["error"]
    },
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": ["prettier"]
}